# Node
node_modules
npm-debug.log
yarn-error.log

# Build outputs
dist

# Tests
tests
*.test.ts
*.spec.ts
coverage

# Development
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# IDE
.vscode
.idea
*.swp
*.swo

# Misc
.DS_Store
*.log
